/* CSS reset 
	(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* General styles 
	(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    margin: 0 auto;
    background-image: url(../lemons1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
    font-family: 'Lobster', cursive;
}

p {
    font-size: 15px;
}
.hidden {
    display: none;
}

/* Header styles 
	(all the styles inside the < header > or < nav > tags) 
*/


/* Content styles 
	(all the styles inside the < sections > or < aside > tags)
*/
/*Header*/
header {
    width: 100%;
    padding: 1em 0 3em;
}
header h1 {
    font-size:3.5em;
    color: skyblue;
    text-shadow: black 2px 2px;
    margin-top: .2em;
}
header h1.header-subtitle {
    font-size:3em;
    color: lightpink;
    text-shadow: black 2px 2px;
}
/*Location Form*/
form.locationForm {
    font-size: 1.1em;
}
select#displayCarMakes {
    width: 10em;
    height:2em;
    border-radius: .5em;
    font-size: 1.5em;
}
#searchCars {
    padding: .5em;
    border-radius: .5em;
    font-size: 1.5em;
    background-color: black;
    color: white;
}
/*Footer*/
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    text-align: center;
    font-size:  2em;
    color: white;
    text-shadow: black 2px 2px;
}
/* Responsive styles 
	(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
